.orbit-wrapper {
    width: 400px;
    height: 400px;
    position: relative;
    margin: 100px auto;
}

.orbit-item {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

.gallery-container {
    padding-block: 2rem;
    padding-inline: 2rem;
}

.buttons-container {
    display: flex;
    justify-content: center;
    gap: 0.285rem;
}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    fon-size: 14px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}